
<!DOCTYPE html>
<html>
<head>
 <title>Book</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>
<body  style="background-color: <%= @colour if @colour %>" >



<nav class="navbar navbar-default">
<div class="container">
<div class="navbar-header">
<%= link_to "Book Review", root_path, class: "navbar-brand" %>

</div>	
<ul class="nav navbar-nav">
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" roles="button" area-expanded="false">Categories<span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
	<% Category.all.each do |category| %>
	<li>
	<%= link_to category.name, books_path(category: category.name), class: "link" %>
	</li>
	<% end %>
</ul>

</li>




<li><%= link_to "sign up", new_user_registration_path %></li>
<% if user_signed_in? %>
<li><%= link_to "sign out", destroy_user_session_path, :method => :delete %></li>
<% else %>
<li><%= link_to "Log In", new_user_session_path %></li>
<% end %>
</ul>
<%if user_signed_in? %>
<%= link_to "Add Book", new_book_path, class: " navbar-text navbar-link navbar-right", id: "new_link", remote: true %>


<%end %>

</div>



</nav>

<%= yield %>
<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>


</body>
</html>